<!DOCTYPE html>
<html lang="es" ng-app="agricultur-app">
  <head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>AgriculturAPP</title>
    <link href="./views/css/lib/font-awesome.min.css" rel="styleSheet">
    <link href="./views/css/lib/materialdesignicons.min.css" rel="styleSheet">
    <link href="./views/lib/handsontable.full.css" rel="styleSheet">
    <link href="./views/main.css" rel="styleSheet">
    <link href="./views/lib/jquery-ui.css" rel="styleSheet">
    <link href="./views/lib/theme.css" rel="styleSheet">
  </head>
  <body ng-class="{'login__background': userLogin, 'app__background': !userLogin}">
    <div class="scroll-all" id="app">
      <div ui-view="menus"></div>
      <ui-view class="main"></ui-view>
      <div class="footer" ng-class="{'footer__app': !userLogin}">
        <p><span>&copy; Copyrights ACH Colombia S.A</span></p>
        <p ng-if="userLogin"><span>L&iacute;nea de atenci&oacute;n al cliente:</span></p>
        <p><span ng-if="!userLogin">L&iacute;neas de atenci&oacute;n al cliente:</span> Planilla electr&oacute;nica /<span> Bogot&aacute;</span> 380 8880 -<span> Medell&iacute;n</span> 204 0180 -<span> Resto del Pa&iacute;s</span> 01 8000 11 0764</p>
        <div class="footer__version" ng-bind="'v' + version"></div>
      </div>
    </div>
    <script src="../js/lib/angular/angular.js"></script>
    <script src="../js/lib/ngLocale/angular-locale_es-co.js"></script>
    <script src="../js/lib/angular-resource/angular-resource.js"></script>
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../js/lib/ngstorage/ngStorage.js"></script>
    <script src="../js/lib/angular-translate/angular-translate.js"></script>
    <script src="../js/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="../js/lib/handsontable-pro/dist/handsontable.full.js"></script>
    <script src="../js/lib/ngHandsontable/dist/ngHandsontable.js"></script>
    <script src="../js/lib/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="../js/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/lib/handsontable-pro/dist/handsontable.full.js"></script>
    <script src="../js/lib/handsontable-pro/languages/es-CO.js"></script>
    <script src="../js/lib/jquery/dist/jquery.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="../js/lib/jquery-ui/jquery-ui.js"></script>
  </body>
</html>