<login-config-proxy show-loading="$ctrl.showLoading" show-config-proxy="$ctrl.showConfigProxy"></login-config-proxy>
<div class="login">
    <div class="login__container">
        <div class="login__head">
            <img src="../img/system/logoSoi.png"/>
        </div>
        <div class="login__head-text">
            <span ng-bind="'LOGIN.TEXT.HEAD' | translate"></span>
        </div>
        <div class="login__form">
            <div class="login__form-container" ng-class="{'login__form-container--error': $ctrl.errorForm}" ng-keypress="$ctrl.actionKeyPress($event)">
                <div class="login__form-inputs">
                    <div class="login__form-inputs-head">
                        <span ng-bind="'LOGIN.FORM.COMPANY' | translate"></span>
                    </div>
                    <div>
                        <select ng-model="$ctrl.form.typeCompany" ng-class="{'login__form-inputs--error': $ctrl.errorForm['typeCompany']}" name="tipoIdEmpresa" tabindex="1" ng-options="item.value as item.text | translate for item in $ctrl.listCompany"></select>
                    </div>
                    <div>
                        <input ng-model="$ctrl.form.company" ng-class="{'login__form-inputs--error': $ctrl.errorForm['company']}" name="numeroIdEmpresa" tabindex="2"/>
                    </div>
                </div>
                <div class="login__form-inputs">
                    <div class="login__form-inputs-head">
                        <span ng-bind="'LOGIN.FORM.USER' | translate"></span>
                    </div>
                    <div>
                        <select ng-model="$ctrl.form.typeUser" ng-class="{'login__form-inputs--error': $ctrl.errorForm['typeUser']}" name="tipoIdUsuario" tabindex="3" ng-options="item.value as item.text | translate for item in $ctrl.listUser"></select>
                    </div>
                    <div>
                        <input ng-model="$ctrl.form.user" ng-class="{'login__form-inputs--error': $ctrl.errorForm['user']}" name="numeroIdUsuario" tabindex="4"/>
                    </div>
                </div>
                <div class="login__form-inputs--password login__form-inputs">
                    <div class="login__form-inputs-head">
                        <span ng-bind="'LOGIN.FORM.PASSWORD' | translate"></span>
                    </div>
                    <div>
                        <input ng-model="$ctrl.form.password" type="password" ng-class="{'login__form-inputs--error': $ctrl.errorForm['password']}" name="claveUsuario" tabindex="5"/>
                    </div>
                </div>
                <div class="login__form-checkbox">
                    <input ng-model="$ctrl.form.saveSession" type="checkbox" name="claveUsuario" tabindex="6"/>
                    <span ng-bind="'LOGIN.FORM.DO_NOT_SING_OUT' | translate"></span>
                    <div class="login__link" ng-bind="'LOGIN.FORM.USAR_PROXY' | translate" ng-click="$ctrl.showConfigProxy = true"></div>
                </div>
                <div class="login__form-error" ng-if="$ctrl.messageError">
                    <i class="mdi mdi-alert-circle"></i>
                    <span ng-bind="$ctrl.messageError"></span>
                </div>
                <div class="login__form-actions">
                    <div class="sy__button--green" ng-click="$ctrl.actionValidateLogin()" tabindex="7">
                        <span ng-bind="'LOGIN.FORM.LOGIN' | translate"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<loading show-loading="$ctrl.showLoading"></loading>